body {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lexend Zetta', sans-serif;
}
.logo {
	padding-top: 20px;
}
.logo h2{
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
.menu-area{
    background: #000;
}

.menu-area h2 a:hover{
    text-decoration: none;
    color: lightPink;
}
.menu-area h2 a{
    display: block;
    color: #fff;
}
.main-menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}
.main-menu ul li{
    display: inline-block;
    margin-left: 20px;
}
.main-menu ul li a{
    display: block;
    color: #fff;
    padding: 20px 10px;
}
.main-menu ul li a:hover{
    text-decoration: none;
    color: lightPink;
}


.header-area{
    background: url(../images/sunset3.jpg);
    min-height: 800px;
    background-size: cover;
    background-position: center center;
}
.header-text h2{
    font-size: 100px;
    color: #fff;
    font-weight: 900;
}
.header-text h3{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin: 0;
}
.header-text a{
    display: inline-block;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    margin-top: 20px;
}
.header-text a:hover{
    background: lightPink;
    color: #000;
    text-decoration: none;
}


* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFB6C1;
}

/* Style the container/contact section */
.container2 {
  border-radius: 5px;
 background-color: #FFB6C1;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*Profile card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}



